<h3>Create, Update, Delete and View People</h3>
<br/>

<form name="createForm" action="#">
  <h4>Create a Person</h4>
  <input ng-model="newPerson.firstName" type="text">
  <input ng-model="newPerson.lastName" type="text">
  <input id="create" type="button" value="Create" ng-click="createPerson(newPerson)">
</form>
<br/>
<h4>View, Update and Delete Existing People</h4>
<div ng-repeat="person in people | orderBy:'lastName'">

  <form action="#"><input id="firstName" ng-model="person.firstName" type="text">
      <input id="lastName" ng-model="person.lastName" type="text">
    <input id="update" type="button" value="Update" ng-click="updatePerson(person)">
    <input id="delete" type="button" value="Delete" ng-click="deletePerson(person)">
  </form>
  <p>View the API resource for <a href="{{ person.selfLink}}" target="_blank">{{ person.firstName }} {{ person.lastName }}</a></p>
  <br/>
</div>
